body {
}

#container {
  width: 80vw;
  margin-left: 10vw;
  text-align: left;
}

.tweet_container {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 18px;
}

.tweet_title {
  font-family: sans-serif;
  font-size: 20px;
}

.tweet_message {
  font-family: sans-serif;
  font-size: 15px;
}
