.tweetsBox {
    width: 50vw;
    margin-left: 25vw;
    padding-bottom: 80px;
}

.header {
    font-size: 30px;
    margin-top: 25vh;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.user_form {
    margin-bottom: 100px;
}

.form_input {
    width: 100%; 
    font-size: 20px;
    display: block;
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.form_input:focus {
    outline: none;
    background-color: aliceblue;
}

.form_submit {
    display: block;
    background: none;
    border:none;
    background-color: darkturquoise;
    color: white;
    font-size: 19px;
    padding: 10px;
    border-radius: 5px;
}   

.form_submit:hover {
    cursor: pointer;
}

.form_submit:focus {
    outline: none;   
}

.tweet {
    margin-top: 20px;
    padding: 14px;
    border-radius: 10px;
/*    background-color: aliceblue;*/
    font-family: sans-serif;
    font-size: 14px;
    color: darkslategray;
}

.negative {
    background-color: #f43a55; 
    color: white;
}

.negative_lite {
    background-color: #fc6e82; 
    color: white;
}

.neutral {
    background-color: #d4f5f5; 
}

.positive_lite {
    background-color: #ddf79e; 
}

.positive {
    background-color: #98ed65; 
}